ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:8080
DOTNET_ENVIRONMENT=Development
POSTGRES_DB=CinemaDb
POSTGRES_USER=cinema
POSTGRES_PASSWORD=CHANGE_ME_CINEMA_PASSWORD
ConnectionStrings__ApplicationDb=Host=cinema-postgres;Port=5432;Database=CinemaDb;Username=cinema;Password=CHANGE_ME_CINEMA_PASSWORD
PostgreSql__MaxRetryCount=3
PostgreSql__MaxRetryDelaySeconds=10
Cors__AllowedOrigins__0=http://localhost:3000
Cors__AllowedOrigins__1=http://localhost:4200
Cors__AllowedOrigins__2=http://localhost:5173
